@font-face {
	font-family: 'CalibreRegular';
	src: url('./fonts/CalibreRegular.otf') format('opentype');
}

@font-face {
  font-family: calibremedium;
  src: url('./fonts/CalibreMedium.otf') format('opentype');
}

@font-face {
  font-family: calibreregular;
  src: url('./fonts/CalibreRegular.otf') format('opentype');
}

.circle {
  text-align: center;
  text-justify: center;
  -moz-border-radius: 46px/46px;
  -webkit-border-radius: 46px 46px;
  border-radius: 46px/46px;
  border: 1px solid white;
  width: 46px;
  height: 46px;
  margin: 8px 16px 8px 0;
}

.hoursAndContact {
  width: 35%;
  height: 100%;
}

body {
  background-color: #F1F1F2; 
  margin: 0px;
  z-index: -2;
}

#restaurantData {
  display: flex;
  justify-content: space-between;
  margin-left: 7vh;
  margin-right: 7vh;
  min-height: 500px;
  margin-top: 30px;
}

.leftColumn {
  width: 65%;
  font-family: CalibreRegular;
  margin-right: 40px;
}

.topLeftColumn {
  background-color: white;
  padding: 0 40px 40px;
}
.restaurantTitle{
  font-size: 36px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 28px 0px 0px;
  text-transform: uppercase;
}

.restaurantSum {
  color: #656666;
  margin: 0;
  padding: 2px 0 0;
  font-size: 15px;
  letter-spacing: 0.013em;
  font-weight: 450;
}
.restaurantStyle a {
  border-bottom: 1px solid #656666;
}
.restaurantStyle {
  padding-top: 7px;
  font-size: 15px;
  letter-spacing: 0.013em;
  color: #656666;
}

.zagatBar {
    border-bottom: 1px #656666 solid;
    border-top: 1px #656666 solid;
    height: 2px;
    margin: 23px 0 17px;
}

.zagatReviewTitle {
    color: #656666;
    font-size: 16px;
    letter-spacing: .086em;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: .1px .1px #656666;
}

.scoreBreak {
  width: 390px;
  display: flex;
  border-bottom: 1px #d0d2d3 solid;
  margin-top: 17px;
  padding-bottom: 16px;
}

.foodScore {
  width: 130px;
  text-align: center;
}

.scoreNumberCenter, .whatIsScoredCenter {
  border-right: 1px #d0d2d3 solid;
  border-left: 1px #d0d2d3 solid;
}

.scoreNumber, .scoreNumberCenter {
  padding-bottom: 2px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.086em;
  text-transform: uppercase;
}

.whatIsScoredCenter, .whatIsScored {
  font-size: 13px;
  letter-spacing: .061em;
  line-height: 18px;
  text-transform: uppercase;
}

.zagatDesc {
  font-size: 22px;
  letter-spacing: .01em;
  line-height: 32px;
}

.zagatDesc span {
  font-weight: 900;
}

.bottomLeftColumn {
  background-color: white;
  padding: 0 24px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.knownForHeading {
  margin-right: 16px;
  margin-left: 16px;
  padding-top: 33px;
  color: #656666;
  font-size: 16px;
  letter-spacing: .086em;
  font-weight: 900;
}

.knownForIcons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.knownIcons {
  display: inline-block;
  margin: 12px 16px 0;
  width: 96px;
}

.knownImages {
  display: block;
  height: 72px;
  width: 100%;
}

.zagatMentionsHeader {
  margin-left: 16px;
  margin-bottom: 17px;
  padding-top: 33px;
  color: #656666;
  font-size: 16px;
  letter-spacing: .086em;
  font-weight: 900;
}
.zagatMentionsMedia {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
}

.zagatMediaCard {
  width: 50%;
}

.insideZagatMediaCard {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mediaCardImage1 {
  min-width: 120px;
  min-height: 120px;
  background-image: url("https://zagat-user.imgix.net/thekitchen_den.jpg");
  background-size: cover;
}

.mediaCardImage2 {
  min-width: 120px;
  min-height: 120px;
  background-image: url("https://zagat-user.imgix.net/AT_Oysters_Denver.JPG");
  background-size: cover;
}

.mediaCardContainer {
  align-items: center;
  display: flex;
  height: 76px;
  width: calc(100% - 120px);
  padding: 22px 14px; 
}

.mediaCardText {
  font-size: 20px;
  letter-spacing: .013em;
  font-weight: 900;
}

.mediaCardText:hover {
  cursor: pointer;
  text-decoration: underline #b70038;
}

.insideZagatMediaCard {
  height: 120px;
}

.showOthers {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
}
.showOtherMentions {
  margin-top: 40px;
  width: 192px;
  color: #b70038;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0.05px 0.05px #b70038;
  letter-spacing: .086em;
  text-transform: uppercase;
  background: none;
  border: 2px solid #b70038;
  height: 40px;
  text-align: center;
}

.showOtherMentions:hover {
  background-color: #b70038;
  color: white;
}

footer {
  margin-top: 35px;
  min-height: 500px;
}

.footerHead {
  background-color: #101820;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}
.iconList {
  display: inline-block;
}
.email {
  background-color: #101820;
  border-left: 1px solid #656666;
  display: flex;
  width: 50%;
}
.emailForm {
  margin-left: 40px;
  width: 100%;
}
.emailContainer {
  width: 100%;
}
.emailLabel {
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: CalibreRegular;
  letter-spacing: .086em;
  margin-bottom: 16px;
}


.fab {
  color: white;
  font-size: 25px;
  margin: 10px 17px 8px 0;
  width: 46px;
}

.fas {
  color: white;
  font-size: 20px;
}

.input {
  background-color: #101820;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid white;
  border-left: none;
  padding-left: 32px;
  padding-right: 32px;
  height: 46px;
  width: calc(100% - 48px);
  font-family: CalibreRegular;
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.button {
  background-color: #101820;
  border: none;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
}

.formEntry {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  height: 48px;
  width: 100%;
}

.additionalInfo {
  display: flex;
  margin: 54px 40px 40px;
}

.allCityColumns {
  display: flex;
  justify-content: space-between;
}

.zagatCitiesContainer {
  margin-right: 150px;
  width: 66%;
}
.about {
  width: 34%;
}

.aboutTitle, .zagatCities {
  margin-bottom: 23px;
  color:  #101820;
  font-family: CalibreRegular;
  letter-spacing: 0.086em;
  font-size: 16px;
  font-weight: 800;
  text-shadow: .05px .05px #101820;
}

.information, .cities, .currentCity {
  margin-bottom: 16px;
  color:  #101820;
  font-family: CalibreRegular;
  letter-spacing: 0.013em;
  font-size: 15px;
  font-weight: 550;
  text-shadow: .05px .05px #101820;
}

.currentCity {
  cursor: pointer;
  color: #B7385E;
}
.information:hover {
  cursor: pointer;
  color: #B7385E;
 }

 .cities:hover {
   cursor: pointer;
   color: #B7385E;
 }

.bottomZagatLogo {
  margin: 80px 40px 40px;
  width: 100%;
}

.circle:hover {
  cursor: pointer;
  background-color: white;
}

.circle:hover .fab {
  color: black;
}

.testingSticky {
  width: calc(35% - 80px);
  margin-right: 30px;
}

#mapAndHours {
  background-color: white;
  height: calc(100vh - 80px - 40px - 40px);
  top: 120px;
  position: -webkit-sticky;
  bottom: calc(100% - 40px);
  position: sticky;
  margin-bottom: 40px;
  z-index: 0;
}

/* Nav Bar styling  */







.navwrapper {
  width: 100%;
}

.NAV {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* LOGOandFORM */
.LOGOandFORM {
  align-content: center;
  align-items: center;
  border-right-color: rgb(208, 210, 211);
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  color: rgb(16, 24, 32);
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: calibreregular;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 79px;
  justify-content: center;
  letter-spacing: 0.195px;
  line-height: 20px;
  max-width: 50%;
  text-size-adjust: 100%;
  width: 816px;
  z-index: 100;
}

/* LOGO */
.LOGO {
  border-right: 1px solid rgb(208, 210, 211);
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  height: 79px;
  width: 217px;
  z-index: 100;
}

svg {
  width: 100%;
  height: 100%;
}

svg:hover {
    fill: white;
    background-color: #B70038;
}

/* FORM */
.FORM {
  align-content: center;
  align-items: center;
  border-bottom-color: rgb(208, 210, 211);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  color: rgb(101, 102, 102);
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: calibreregular;
  font-size: 17px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 51px;
  justify-content: flex-start;
  letter-spacing: 0.221px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  text-size-adjust: 100%;
  white-space: nowrap;
  width: calc(100% - 217px);
  z-index: 100;
}

input[type="text"] {
  border: none;
  font-family: sans-serif;
  font-size: 14.5px;
  padding-left: 24px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 9px;
  font-weight: 400;
  letter-spacing: 0.221px;
  outline: none;
}

.LINKS {
  display: flex;
  max-width: 100%;
  width: calc(50% - 40px);
  z-index: 100;
}

.LINKS .nav-link:hover {
  color: #B70038;
}

.nav-link {
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  margin: 12px;
  font-size: 13px;
  letter-spacing: .086em;
  color: #656666;
  font-family: sans-serif;
}

.linknames {
  height: 100%;
  align-items: center;
  color: rgb(16, 24, 32);
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: calibreregular;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 400;
  justify-content: flex-end;
  letter-spacing: 0.195px;
  max-width: 100%;
  width: 100%;
  z-index: 100;
}

.LINKS a {
  margin-left: 20px;
}

.dropbutton {
  text-align: center;
  margin: 12px;
  color: rgb(101, 102, 102);
  flex-direction: row;
  font-family: calibremedium;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1.29px;
  max-width: 100%;
  text-decoration-color: rgb(101, 102, 102);
  text-size-adjust: 100%;
  text-transform: uppercase;
  width: 84.109px;
  z-index: 100;
}

.dropbutton:hover {
  color: #B70038;
  cursor: pointer;
}

.dropdown {
  height: 100%;
  max-width: 100%;
  padding-right: 40px;
  z-index: 100;
}

.dropdown-content {
  color: dimgrey;
  position: absolute;
  left: 50%;
  background-color: #101820;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.9;
  overflow-y: scroll;
  top: 80px;
}

.cityselect {
  color: rgb(155, 155, 155);
  display: block;
  font-family: calibremedium;
  font-size: 15px;
  font-weight: 400;
  height: 56px;
  letter-spacing: 1.29px;
  line-height: 56px;
  text-align: center;
  text-size-adjust: 100%;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.citystatebox {
  border: 1px solid rgb(101, 102, 102);
  border-bottom: none;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
}

.citystatebox:hover {
  background-color: grey;
  cursor: pointer;
}

.city {
  align-content: center;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  letter-spacing: 0.195px;
  max-width: 100%;
  padding: 15px 0px 1px 0px;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: 816px;
}
.city a {
  font-family: 'Lobster';
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
  color: white;
  text-decoration: none;
}
.state {
  box-sizing: border-box;
  color: rgb(155, 155, 155);
  cursor: pointer;
  font-family: Calibre-Medium;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  height: 60px;
  letter-spacing: 0.854px;
  line-height: 20px;
  max-width: 100%;
  text-align: center;
  text-size-adjust: 100%;
  text-transform: uppercase;
  padding-bottom: 30px;
  width: 100%;
}

.photo-container {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  width: 100%;
}

.split1, .split2 {
  display: flex;
  flex-direction: column;
  height: 190;
  width: 195;
  padding-left: 5px;
  padding-right: 5px;
}

.large1, .large2, .large3 {
  height: 384;
  width: calc(100% - 2 * 195px / 3);
}
